<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>

<div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <p>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <%= @user.profile %>
      </p>
      <p><%= "Location:#{@user.location}" %></p>
      <p><%= "Birthday:#{@user.birthday}" %></p>
      <p><%= link_to "Edit profile" , edit_user_path(@user) %></p>
     </div>
</div>